* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cart-container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
  display: flex;

  .left-side {
    width: 50%;

    .img {
      height: 12rem;
      width: 12rem;
    }

    .item-card {
      padding: 5rem;
      border-bottom: 1px solid navajowhite;
      display: flex;

      img {
        width: 11rem;
        height: 11rem;
        object-fit: contain;
      }
    }

    .text-sec {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 2rem;
      width: 100%;

      h4 {
        font-family: Mulish, sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 1.25rem;
        line-height: 100%;
        letter-spacing: 0%;
      }

      p {
        font-family: Mulish, sans-serif;
        font-style: Bold;
        font-size: 0.875rem;
        line-height: 1.25rem;
        letter-spacing: 0%;
      }

      h6 {
        font-family: Mulish, sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 1.5rem;
        line-height: 100%;
        letter-spacing: 0%;
      }

      .price-delete {
        display: flex;
        justify-content: space-between;

        .img {
          cursor: pointer;
          height: 2rem;
          width: 2rem;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }

  .right-side {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .cart {
      font-family: Mulish, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 2rem;
      line-height: 100%;
      letter-spacing: 0%;
      color: #166534;
    }
    .summary {
      font-family: Mulish, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 3rem;
      line-height: 100%;
      letter-spacing: 0%;
      color: #15803d;
    }
    .items {
      font-family: Mulish, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 1.2rem;
      line-height: 100%;
      letter-spacing: 0%;
    }
    .amount {
      font-family: Mulish, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 1.5rem;
      line-height: 100%;
      letter-spacing: 0%;
    }
    button {
      background-color: #15803d;
      cursor: pointer;
      color: #ffff;

      padding: 1rem;
      border: 2px solid #166534;
      border-radius: 0.5rem;
      font-family: Mulish, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 1.5rem;
      line-height: 100%;
      letter-spacing: 0%;
      width: 70%;
      &:hover {
        background-color: #fff;
        color: #15803d;
      }
    }
  }
}

.not-selected-pro {
  width: 100%;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  button {
    background-color: #15803d;
    border: 1px solid #15803d;
    border-radius: 0.8rem;
    padding: 0.5rem 3rem;
    cursor: pointer;

    span {
      font-family: Mulish, sans-serif;
      font-weight: 700;
      font-style: Bold;
      font-size: 2rem;
      line-height: 100%;
      letter-spacing: 0%;
      color: #ffff;
    }
  }
}
